@model Base.Model1.HajjOffice

@{
    ViewBag.Title = "تفاصيل مكتب خدمة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">عرض مكتب خدمة</h2>

    <div class="card">
        <div class="card-header">
            <h4>تفاصيل المكتب</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-md-3">المكتب</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.OfficeName)</dd>

                <dt class="col-md-3">الهاتف</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.OfficePhone)</dd>

                <dt class="col-md-3">المسؤول</dt>
                <dd class="col-md-9">@Html.DisplayFor(model => model.Representative.Name)</dd>
            </dl>
        </div>
        <div class="card-footer text-right">
            @Html.ActionLink("تعديل", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("العودة إلى القائمة", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>