@model Base.Model1.HajjReq

@{
    ViewBag.Title = "تعديل طلب الحج";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">تعديل طلب</h2>

    @using (Html.BeginForm()) 
    {
        <div class="card shadow-lg border-0">
            <div class="card-header bg- bg-dark text-white">
                <h4 class="text-center">بيانات الطلب</h4>
            </div>
            <div class="card-body">
                @Html.HiddenFor(model => model.ID)

                <div class="form-group row">
                    @Html.LabelFor(model => model.Name, "اسم الطلب", new { @class = "col-md-2 col-form-label text-right font-weight-bold" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control border-info", @placeholder = "أدخل اسم الطلب" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <div class="col-md-10 offset-md-2 text-right">
                        <input type="submit" value="حفظ" class="btn btn-success btn-lg px-5" />
                        @Html.ActionLink("العودة", "Index", null, new { @class = "btn btn-secondary btn-lg px-5 ml-3" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>